mypy==0.931
pylint==2.12.2
vcrpy
pproxy==2.7.8
Sphinx>=1.8.3
sphinx-rtd-theme>=0.4.0
sphinx-tabs>=1.1.11
sphinx-automodapi
sphinx-autodoc-typehints<=1.19.2
nbqa==1.5.3
matplotlib>=2.1
jupyter
jupyter-sphinx
reno>=2.11.0
scipy>=1.0
nbformat>=4.4.0
nbconvert>=5.3.1
qiskit-aer>=0.11
websockets>=8
scikit-quant;platform_system != 'Windows'
black==22.3.0
coverage>=6.3
pylatexenc
mthree
scikit-learn
sphinx-design>=0.2.0
