---
name: Docs Upload
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel tox
        sudo apt-get install -y graphviz pandoc
    - name: Build docs
      run: tox -e docs
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: html_docs
        path: docs/_build/html
