# This code is part of Qiskit.
#
# (C) Copyright IBM 2024.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Integration Tests (Qiskit Main)
on:
  schedule:
    # run integration tests against Qiskit main once a week
    - cron: '0 0 * * 0'
  workflow_dispatch:
jobs:
  integration-tests:
    if: github.repository_owner == 'Qiskit'
    name: Run integration tests - ${{ matrix.environment }}
    runs-on: ${{ matrix.os }}
    strategy:
      # avoid cancellation of in-progress jobs if any matrix job fails
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
        os: [ "ubuntu-latest" ]
        environment: ["ibm-cloud-production", "ibm-cloud-staging" ]
    environment: ${{ matrix.environment }}
    env:
      QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
      QISKIT_IBM_URL: ${{ secrets.QISKIT_IBM_URL }}
      QISKIT_IBM_INSTANCE: ${{ secrets.QISKIT_IBM_INSTANCE }}
      QISKIT_IBM_QPU: ${{ secrets.QISKIT_IBM_QPU }}
      LOG_LEVEL: DEBUG
      STREAM_LOG: True
      QISKIT_IN_PARALLEL: True
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e '.[dev]' git+https://github.com/Qiskit/qiskit.git
      - name: Run integration tests
        run: make integration-test
