# This code is part of Qiskit.
#
# (C) Copyright IBM 2021.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Integration Tests
on:
  schedule:
    - cron: '0 4 * * *'
  # allow everyone with write access to the repository to trigger the workflow run manually
  workflow_dispatch:
jobs:
  # test integration with remote staging and production environments
  integration-tests-remote-environments:
    name: Run integration tests - ${{ matrix.environment }}
    runs-on: ${{ matrix.os }}
    strategy:
      # avoid cancellation of in-progress jobs if any matrix job fails
      fail-fast: false
      matrix:
        python-version: [ 3.9 ]
        os: [ "ubuntu-latest" ]
        environment: [ "legacy-production", "legacy-staging", "cloud-production", "cloud-staging" ]
    environment: ${{ matrix.environment }}
    env:
      QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
      QISKIT_IBM_URL: ${{ secrets.QISKIT_IBM_URL }}
      QISKIT_IBM_INSTANCE: ${{ secrets.QISKIT_IBM_INSTANCE }}
      LOG_LEVEL: DEBUG
      STREAM_LOG: True
      QISKIT_IN_PARALLEL: True
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r requirements-dev.txt
      - name: Run integration tests
        run: make integration-test
  # test integration with latest (non-released) code of qiskit-terra
  integration-tests-latest-qiskit-terra:
    name: Test integration with latest code of qiskit-terra
    runs-on: "ubuntu-latest"
    env:
      LOG_LEVEL: DEBUG
      STREAM_LOG: True
      QISKIT_IN_PARALLEL: True
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r requirements-dev.txt
          pip install -U git+https://github.com/Qiskit/qiskit-terra.git
      - name: Run tests
        # running unit tests against latest (non-released) code of qiskit-terra gives a basic level
        # of confidence that the integration between qiskit-ibm-runtime and qiskit-terra works
        run: make unit-test
